<div class="start-window">
	<div class="title">
		Ejercicio ejemplo de Organigrama 1
	</div>
	<div class="text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis leo at ligula eleifend vestibulum. Sed eu aliquam nisi, tempus laoreet eros. Donec porta maximus cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam id fringilla ligula, sed dapibus erat. Etiam id vehicula tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam volutpat blandit posuere. Sed rhoncus pharetra nisi, ac sollicitudin diam vestibulum sit amet. Quisque vitae metus orci. Nam sit amet tincidunt erat, ut mollis dui. Curabitur sit amet lorem tempor, tincidunt risus eu, iaculis urna. Sed purus lacus, aliquam suscipit urna egestas, posuere interdum felis.

		Nulla quis magna in ligula dictum aliquam eget suscipit nisl. Donec tincidunt felis eu dui vehicula porttitor. Suspendisse neque purus, rhoncus non sodales a, rutrum fringilla odio. Sed at fermentum libero, vitae scelerisque tellus. Donec pulvinar est non suscipit porttitor. Praesent sollicitudin felis nisi, sed semper nisl euismod quis. Proin metus est, facilisis ut justo ac, dapibus tempor elit.

		Praesent a urna nec libero feugiat aliquam. Proin eget nisl non lorem mattis facilisis. Aliquam a est libero. In sed efficitur sem. Duis ornare lectus metus, ac vestibulum ligula eleifend quis. Duis condimentum venenatis luctus. Mauris dapibus purus et sagittis scelerisque. Phasellus a cursus nisl. Morbi a tincidunt arcu. Mauris dapibus placerat congue. In tincidunt tempus rutrum. Nulla rutrum pharetra sapien vel mattis. Etiam tristique sed ante sit amet iaculis.

		Nulla aliquet, enim id semper feugiat, tortor sapien consequat mauris, sit amet molestie arcu nisl vel diam. Nulla facilisi. Cras tempus pulvinar dui a sagittis. Quisque et ex ut lectus elementum convallis. In sit amet odio nec ante laoreet cursus eget ut libero. Curabitur dignissim lectus tellus, eu lobortis quam ullamcorper sit amet. Morbi eu ipsum non ante eleifend semper. Donec sagittis sapien vehicula condimentum lacinia.

		Nullam quis eros mauris. Curabitur facilisis nisl quis arcu ultrices semper. Donec aliquet nulla id lacus accumsan consequat. Maecenas aliquet eleifend tellus efficitur convallis. Maecenas rutrum orci eu dui cursus, quis faucibus ipsum congue. Aliquam cursus non odio quis tempus. Proin ac congue justo.
	</div>
	<div class="start-button">
		COMENZAR
	</div>
</div>

<div class="workspace">
	<div class="workspace-grid">
	</div>
</div>

<div class="left-panel">
	<div class="text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis leo at ligula eleifend vestibulum. Sed eu aliquam nisi, tempus laoreet eros. Donec porta maximus cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam id fringilla ligula, sed dapibus erat. Etiam id vehicula tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam volutpat blandit posuere. Sed rhoncus pharetra nisi, ac sollicitudin diam vestibulum sit amet. Quisque vitae metus orci. Nam sit amet tincidunt erat, ut mollis dui. Curabitur sit amet lorem tempor, tincidunt risus eu, iaculis urna. Sed purus lacus, aliquam suscipit urna egestas, posuere interdum felis.

		Nulla quis magna in ligula dictum aliquam eget suscipit nisl. Donec tincidunt felis eu dui vehicula porttitor. Suspendisse neque purus, rhoncus non sodales a, rutrum fringilla odio. Sed at fermentum libero, vitae scelerisque tellus. Donec pulvinar est non suscipit porttitor. Praesent sollicitudin felis nisi, sed semper nisl euismod quis. Proin metus est, facilisis ut justo ac, dapibus tempor elit.

		Praesent a urna nec libero feugiat aliquam. Proin eget nisl non lorem mattis facilisis. Aliquam a est libero. In sed efficitur sem. Duis ornare lectus metus, ac vestibulum ligula eleifend quis. Duis condimentum venenatis luctus. Mauris dapibus purus et sagittis scelerisque. Phasellus a cursus nisl. Morbi a tincidunt arcu. Mauris dapibus placerat congue. In tincidunt tempus rutrum. Nulla rutrum pharetra sapien vel mattis. Etiam tristique sed ante sit amet iaculis.

		Nulla aliquet, enim id semper feugiat, tortor sapien consequat mauris, sit amet molestie arcu nisl vel diam. Nulla facilisi. Cras tempus pulvinar dui a sagittis. Quisque et ex ut lectus elementum convallis. In sit amet odio nec ante laoreet cursus eget ut libero. Curabitur dignissim lectus tellus, eu lobortis quam ullamcorper sit amet. Morbi eu ipsum non ante eleifend semper. Donec sagittis sapien vehicula condimentum lacinia.

		Nullam quis eros mauris. Curabitur facilisis nisl quis arcu ultrices semper. Donec aliquet nulla id lacus accumsan consequat. Maecenas aliquet eleifend tellus efficitur convallis. Maecenas rutrum orci eu dui cursus, quis faucibus ipsum congue. Aliquam cursus non odio quis tempus. Proin ac congue justo.
	</div>

	<div id="text-button" class="left-panel-button">
		<div class="left-panel-button-top-corner"></div>
		<img src="img/text-icon.png">
		<div class="left-panel-button-bottom-corner"></div>
	</div>
	<div id="redo-button" class="left-panel-button">
		<div class="left-panel-button-top-corner"></div>
		<img src="img/redo-icon.png">
		<div class="left-panel-button-bottom-corner"></div>
	</div>
	<div id="trash-button" class="left-panel-button">
		<div class="left-panel-button-top-corner"></div>
		<img src="img/trash-icon.png">
		<div class="left-panel-button-bottom-corner"></div>
	</div>
</div>

<div class="finish-button">
	<img src="img/tick-icon.png">
</div>

<div class="bottom-panel">
	<div class="left-panel-button-left-corner"></div>
	<img src="img/rectangle-element.png" id="rectangle">
	<img src="img/solid-arrow-element.png" id="solid-arrow">
	<img src="img/dashed-arrow-element.png" id="dashed-arrow">
	<div class="left-panel-button-right-corner"></div>
</div>